.form-register {
    min-height: auto;
    width: 600px;
    background: rgb(72, 182, 103);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
}

.btn {
    margin-top: 10px;
    text-align: center;
}

.f{
    color: #E5E5E5;;
}